body{
    background-color: #000000;
    /* color de la letra */
    color: aliceblue; 
}

/* este estilo lo uso solo para centrar y el paddin para separar de otros elementos  */
.estiloFormulario{
    text-align: center;
    padding: 10px;
}

/* aca le doy estilo a los input y el selec del formulario aparte */
input, select{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(245, 7, 7);
    border-radius: 4px;
    box-sizing: border-box;
}

/* aca le doy estilo solo al submit */
input[type=submit] {
    width: 30%;
    background-color: rgb(245, 7, 7);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}	